body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  
  background-color:hsl(204, 56%, 25%);

}

.container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex: wrap;
}

.stopWatch{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #caf0f8;
  padding: 30px;
  border-radius: 20px;
  
  
}

.display{
  font-size: 10rem;
  font-family: monospace;
  margin-bottom: 35px;
  font-weight: 540;
  color: hsl(75, 95%, 49%);
  text-shadow: 2px 2px 2px black;
}

.controls button{
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px;
  background-color:;
  margin: 0 30px;
  font-weight: 600;
  min-width: 125px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.start-button{

  background-color: #00bbf9;
  color:#edf6f9;
}
.start-button:hover{

  background-color: hsl(195, 100%, 59%);
}
.stop-button{
  color: antiquewhite;
  background-color: #343a40;
}
.stop-button:hover{
  
  background-color: hsl(210, 10%, 33%);
}
.reset-button:hover{
  
  background-color: hsl(210, 10%, 33%);
}
.reset-button{
  color: antiquewhite;

  background-color: #343a40;
}